<ion-view view-title="Producto">
	<ion-content ng-controller="ProductGetCtrl as ctrl">
		<div class="list" >
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Nombre producto</span>
		    <input type="text" placeholder="Nombre producto" ng-model="ctrl.name_product">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Precio</span>
		    <input type="text" placeholder="Precio" ng-model="ctrl.price">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">SKU</span>
		    <input type="text" placeholder="SKU" ng-model="ctrl.sku">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Comentarios</span>
		    <textarea rows="4" type="text" placeholder="Comentarios" ng-model="ctrl.comment"></textarea>
		  </label>
		  <button class="button button-block button-positive" ng-click="ctrl.updateProduct()">
	          Actualizar Producto
	      </button>
		  <button class="button button-block button-assertive" ng-click="ctrl.deleteProduct()">
	          Eliminar Producto
	      </button>
		  <!-- <button class="button button-block button-positive" ng-click="ctrl.submit()">
	          Registrar cliente
	      </button> -->
		</div>
	</ion-content>
</ion-view>
