<ion-view view-title="Productos">
  <ion-content class="padding">
  			<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search">
			</label>
		</div>
		<div ng-controller="ProductListCtrl as ctrl">
			<div class="list" ng-repeat="product in ctrl.products">
				<a class="item item-avatar" ng-href="#/home/products/{{product.id}}"  on-long-press="ctrl.itemOnLongPress($index)">
					<!-- <img src="venkman.jpg"> -->
					<h2 ng-bind="product.name_product" ></h2>
					<p ng-bind="'$' + product.price"></p>
				</a>
			</div>
			<button class="button button-block button-positive" ng-click="ctrl.go('home.addProduct')">
	          Registrar nuevo producto
	      </button>
		</div>
		</button>
  </ion-content>
</ion-view>