<ion-view view-title="Acerca de ">
  <ion-content class="padding">
  	<div class="list list-inset" align = "center">
      <img src="img/acercade.png" style="width: 250px; height: 250px;">
      <p>®Quid pro soft 2018</p>
      <p>Aplicación que provee un servicio por medio de herramientas para registrar productos, pagos, cobros, recibos, inventarios y facturas, facilitando la administración de cualquier negocio.</p>
      <p>Versión: 1.0</p>
      <p>Desarrolladores:</p>
      <p>Bryan Rodrigo Quiroz Palominos</p>
      <p>Juan Alberto Ochoa Montes</p>
      <p>Ivan Eduardo Ramirez Herrera</p>
	  </div>
</ion-content>
</ion-view>


