<ion-view view-title="Perfil">
  <ion-content class="padding" ng-controller="ProfileGetCtrl as ctrl">
  	<div class="list list-inset" align = "center">
		<img src="img/perfil2.png" style="width: 100px; height: 100px;">
	</div>
	<div class="list">
		<label class="item item-input item-floating-label">
		  <span class="input-label">Nombre(s) Usuario</span>
		  <input type="text" placeholder="Nombre Usuario" ng-model="ctrl.first_name">
		</label>
		<label class="item item-input item-floating-label">
		  <span class="input-label">Apellido(s)</span>
		  <input type="text" placeholder="Apellido(s)" ng-model="ctrl.last_name">
		</label>
		<label class="item item-input item-floating-label">
		  <span class="input-label">E-mail</span>
		  <input type="text" placeholder="E-mail" ng-model="ctrl.email" >
		</label>
		<label class="item item-input item-floating-label">
		  <span class="input-label">Nombre de Empresa</span>
		  <input type="text" placeholder="Nombre de Empresa" ng-model="ctrl.cambio" >
		</label>
		<button class="button button-light" ng-click="ctrl.checkService()">
		  Mas servicios
		</button>
		<button class="button button-block button-assertive" ng-click="ctrl.logout()">
	          Logout
	    </button>
	</div>
</ion-content>
</ion-view>