<ion-view view-title="Perfil">
  <ion-content class="padding" ng-controller="ProfileGetCtrl as ctrl">
  	<div class="list list-inset" align = "center">
  		<div class = "row">
  			<div class = "col">
  				<ion-icon name="help-circle"></ion-icon>
				<img src="img/perfil2.png" style="width: 100px; height: 100px;">
			</div>
		</div>
  		<div class = "row">
  			<div class = "col">
				<h2 ng-bind=" ctrl.first_name + ' ' +  ctrl.last_name" ></h2>
				<p ng-bind = "ctrl.cambio"></p>
			</div>
		</div>		
	</div>
	<div class="list">
		<a class="item item-icon-left">
    		<i class="icon ion-email"></i>
    			<h2 ng-bind="ctrl.email" ></h2>
  		</a>
      <a class = "item item-icon-left" ng-click="ctrl.checkService()">
        <i class="icon ion-archive"></i>
          Mas servicios
      </a>
  		<a class="item item-icon-left" ng-click="ctrl.about()">
   	 		<i class="icon ion-clipboard"></i>
    			Acerca de
  		</a>  		
  		<a class="item item-icon-left" ng-click="ctrl.help()">
  			<!--<ion-icon name="help-circle"></ion-icon>-->
   	 		<i class="icon ion-help"></i>
    			Ayuda
  		</a>
	</div>
	<button class="button button-block button-assertive" ng-click="ctrl.logout()">
	    Logout
	</button>
</ion-content>
</ion-view>


