<ion-view view-title="Venta">
	<ion-content ng-controller="SaleAddCtrl as ctrl">
		<div class="row">
			<div class="col">Cantidad</div>
			<div class="col">Producto</div>
			<div class="col">Importe</div>
		</div>
		<hr/>
		<div class="row" ng-repeat="product in ctrl.sale.products">
			<div class="col" ng-bind="product.quantity"></div>
			<div class="col" ng-bind="product.name_product"></div>
			<div class="col" ng-bind="product.price"></div>
		</div>
		<div class="list">

			<label class="item item-input item-select">
				<div class="input-label">
					Cliente
				</div>
				<select ng-options="client as client.first_name for client in ctrl.clients track by client.id" ng-model="ctrl.clientSelected"></select>
			</label>
		</div>
		<button class="button button-full button-positive" ng-click="ctrl.submit();">
			Pagar $<span ng-bind="ctrl.total();"></span> MXN
		</button>
	</ion-content>
</ion-view>