<ion-view view-title="Venta">
	<ion-content ng-controller="SaleAddCtrl as ctrl">
		<div class="row">
			<div class="col" align = "center">
				Cantidad
				<hr style="border-color: #87B973;">
			</div>
			<div class="col" align = "center">
				Producto
				<hr style="border-color: #87B973;">
			</div>
			<div class="col" align = "center">
				Importe
				<hr style="border-color: #87B973;">
			</div>
		</div>
		<hr/>
		<div class="row" ng-repeat="product in ctrl.sale.products">
			<div class="col" ng-bind="product.quantity" align = "center"></div>
			<div class="col" ng-bind="product.name_product" align = "center"></div>
			<div class="col" ng-bind="'$' + product.price  + 'MXN'" align = "center"></div>
		</div>
		<div class="list">
			<label class="item item-input item-select">
				<div class="input-label">
					Cliente
				</div>
				<select ng-options="client as client.first_name for client in ctrl.clients track by client.id" ng-model="ctrl.clientSelected"></select>
			</label>
		</div>
		<button class="button button-full button-positive" ng-click="ctrl.submit();">
			Pagar $<span ng-bind="ctrl.total();"></span> MXN
		</button>
	</ion-content>
</ion-view>