<ion-view view-title="Agregar Venta">
	<ion-content ng-controller="SaleGetCtrl as ctrl">
		<div class="row">
			<div class="col">Cantidad</div>
			<div class="col">Producto</div>
			<div class="col">Importe</div>
		</div>
		<hr/>
		<div class="row" ng-repeat="product in ctrl.sale.products">
			<div class="col" ng-bind="product.quantity"></div>
			<div class="col" ng-bind="product.name_product"></div>
			<div class="col" ng-bind="product.price"></div>
		</div>
		<div class="list">
			<label class="item item-input item-select">
				<div class="input-label">
					Cliente
				</div>
				<select>
					<option selected ng-bind=ctrl.sale.client.first_name></option>
				</select>
			</label>
		</div>
	</ion-content>
</ion-view>