<ion-view view-title="Venta">
	<ion-content ng-controller="SaleGetCtrl as ctrl">
		<div class="row">
			<div class="col" align = "center">Cantidad</div>
			<div class="col" align = "center">Producto</div>
			<div class="col" align = "center">Importe</div>
		</div>
		<br/>
		<div class="row" ng-repeat="product in ctrl.sale.products">
			<div class="col" ng-bind="product.quantity" align = "center"></div>
			<div class="col" ng-bind="product.name_product" align = "center"></div>
			<div class="col" ng-bind="'$' + product.price  + 'MXN'" align = "center"></div>
		</div>
		<div class="list">
			<label class="item item-input item-floating-label">
		  		<span class="input-label">Cliente: </span>
		  		<input type="text" placeholder="Cliente: " ng-model="ctrl.sale.client.first_name">
			</label>
			<label class="item item-input item-floating-label">
		  		<span class="input-label">Total: </span>
		  		<input type="text" placeholder="Total: " ng-model="ctrl.sale.total">
			</label>

			<button class="button button-block button-positive">
	          	Recibo
	    	</button>
		</div>
	</ion-content>
</ion-view>