<ion-view view-title="Venmin">
	<ion-content>
		<div class="list" align="center">
			<div class = "row">
				<div class = "col" align = "center"><br><br><br><br><br><br><br><br><br></div>
			</div>			
			<div class = "row">
				<div class = "col" align = "center">
					<img align = "" src="img/check.png" style="width: 100px; height: 100px;">
				</div>
			</div>
			<div class = "row">
				<div class = "col" align = "center"><h2>¡Gracias por su compra!</h2></div>
			</div>			
			<div class = "row">
				<div class = "col" align = "center"></div>
			</div>
			<button class="button button-positive" ng-click="dirigir();">
				Listo
			</button>												
		</div>	
	</ion-content>
</ion-view>