<ion-view view-title="Venmin">
	<ion-content ng-controller="HomeListCtrl as ctrl">
		<div class="row">
			<div class="col" align = "center">
				Estadísticas
				<hr style="border-color: #87B973;">
			</div>
			<div class="col" align = "center" ng-click="ctrl.go('home.reports');">
				Reportes
			</div>
		</div>		
		<div class="row">
			<!--<div class="col col-10" align = "center"></div>-->
			<div class="col" align = "right">
				<img src = "img/calendar.png" align="right">
			</div>
			<div class="col" align = "left">
				<h5 align="left">Hoy, es 25 may.</h5>
			</div>
			<!--<div class="col col-2" align = "right"></div>-->
		</div>
    	<div class="card" ng-controller="GraphChartController">
        	<div class="item item-text-wrap">
				<canvas id="base" class="chart-horizontal-bar" chart-data="data" chart-labels="labels" ></canvas> 
        	</div>
    	</div>		
    	<div class="card" ng-controller="GraphLineController">
        	<div class="item item-divider">
            	Ventas del Mes
        	</div>
        	<div class="item item-text-wrap">
				<canvas id="line" class="chart chart-line" chart-data="data"
				chart-labels="labels" chart-series="series" chart-options="options"
				chart-dataset-override="datasetOverride" chart-click="onClick">
				</canvas>
        	</div>
    	</div>	   	
	</ion-content>
</ion-view>