<ion-view title="Emprendedores" ng-controller="BClientRegisterCtrl">
  <ion-content class="padding">
    <div class="row responsive-sm">
      <div class="col-33 col-offset-33">
        <div class="list list-inset">
          <form name=registerForm>
            <label class="item item-input">
              <input type="text" placeholder="Nombre" ng-model="data.first_name">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Apellidos" ng-model="data.last_name">
            </label>
            <label class="item item-input">
              <input type="email" name="email" placeholder="Correo electronico" ng-model="data.email" >
            </label>
            <span ng-show="registerForm.email.$error.email">Ingrese un correo valido</span>
            <label class="item item-input">
              <input type="text" placeholder="Numero telefonico" ng-model="data.phone_number">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Direccion" ng-model="data.address">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="RFC" ng-model="data.rfc">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Contrasena" ng-model="data.password">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Confirmar Contrasena" ng-model="data.confirmarContrasena">
            </label>
            <span ng-bind="passMessage"></span>
          </form>
          
        </div>
        <button class="button button-block button-positive" ng-click="register()">Registrarse
        </button>
        <p class="col" align="center">
          ¿Ya tienes una cuenta?
        </p>
        <button class="button button-block button-positive" ng-click="go('login')">
          Inicia sesion
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
