<ion-view view-title="Negocio">
	<ion-content class="padding" ng-controller="SCartCheckoutCtrl as ctrl">
    <h1 ng-bind="ctrl.business.name"></h1>
    <div class="row">
      <div class="col">Cantidad</div>
      <div class="col">Producto</div>
      <div class="col">Importe</div>
    </div>
    <hr/>
    <div class="row" ng-repeat="product in ctrl.sale.products">
      <div class="col" ng-bind="product.quantity"></div>
      <div class="col" ng-bind="product.name_product"></div>
      <div class="col" ng-bind="product.price"></div>
    </div>
    <button class="button button-full button-positive" ng-click="ctrl.proceed();">
      Pagar $<span ng-bind="ctrl.total();"></span> MXN
    </button>
    <p class = "assertive">{{ ctrl.error }}</p>
	</ion-content>
</ion-view>