<ion-tabs class="tabs-positive tabs-icon-top">

   <ion-tab title="Inicio" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/home/graph">

    <ion-nav-view name="graph"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Clientes" icon-on="ion-ios-person" icon-off="ion-ios-person" href="#/home/clients">

    <ion-nav-view name="clients"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Ventas" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" href="#/home/sales">
    <ion-nav-view name="sales"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Productos" icon-on="ion-ios-pricetags" icon-off="ion-ios-pricetags-outline" href="#/home/products">

    <ion-nav-view name="products"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Perfil" icon-on="ion-ios-contact" icon-off="ion-ios-contact-outline" href="#/home/profile">
    <ion-nav-view name="profile"></ion-nav-view>
  </ion-tab>


  
</ion-tabs>
