<ion-view view-title="sales">
	<ion-content class="padding" ng-controller="ServiceShoppingCtrl as ctrl">
		<div class="card">
		<h1>Servicio 1</h1>
		  <div class="item item-text-wrap">
		    <ul class="list">
		    	<li>caracteristica 1</li>
		    	<li>caracteristica 2</li>
		    </ul>
		  </div>
		  <a class="button button-block button-positive" href="#/services/1">
			  Comprar
			</a>
		</div>
		<div class="card">
		<h1>Servicio 2</h1>
		  <div class="item item-text-wrap">
		    <ul class="list">
		    	<li>caracteristica 1</li>
		    	<li>caracteristica 2</li>
		    </ul>
		  </div>
		  <a class="button button-block button-positive" href="#/services/2">
			  Comprar
			</a>
		</div>
		<div class="card">
		<h1>Servicio 3</h1>
		  <div class="item item-text-wrap">
		    <ul class="list">
		    	<li>caracteristica 1</li>
		    	<li>caracteristica 2</li>
		    </ul>
		  </div>
		  <a class="button button-block button-positive" href="#/services/3">
			  Comprar
			</a>
		</div>
	</ion-content>
</ion-view>