<ion-view view-title="sales">
	<ion-content class="padding" ng-controller="ServiceShoppingCtrl as ctrl">
		<div class="card">
		<h1>Paquete Basic</h1>
		  <div class="item item-text-wrap">
		    <ul class="list">
		    	<li>Multiplatafroma en dispositivos moviles</li>
          <li>Manejo desde aplicacion web</li>
          <li>Atencion al cliente</li>
          <li>Agregar Gardgets</li>
          <li>Agregar Clientes(limitados)</li>
          <li>Administracion de clientes</li>
          <li>Realizar Pagos</li>
          <li>Administracion de pagos</li>
          <li>Agregar Productos</li>
          <li>Administracion de productos</li>
          <li>Agregar venta</li>
          <li>Administracion de ventas</li>
          <li>Estadisticas en Graficas</li>
          <li>Cambiar tipo de cambio</li>
          <li>Resumen del dia</li>
          <li>Dar de alta usuarios (Hasta 5)</li>
          <li>Inventarios</li>
          <li>Facturas</li>
		    </ul>
		  </div>
		  <a class="button button-block button-positive" href="#/services/1">
			  Comprar
			</a>
		</div>
		<div class="card">
		<h1>Paquete Premium</h1>
		  <div class="item item-text-wrap">
		    <ul class="list">
		    	<li>Sincroniza en todos los dispositivos (Hasta 2)</li>
          <li>Multiplatafroma en dispositivos moviles</li>
          <li>Manejo desde aplicacion web</li>
          <li>Atencion al cliente</li>
          <li>Agregar Gardgets</li>
          <li>Agregar Clientes(Ilimitados)</li>
          <li>Administracion de clientes</li>
          <li>Realizar Pagos (Ilimitados)</li>
          <li>Administracion de pagos</li>
          <li>Agregar Productos (Ilimitados)</li>
          <li>Administracion de productos</li>
          <li>Agregar ventas (Ilimitados)</li>
					<li>Administracion de ventas</li>
					<li>Estadísticas en Reportes</li>
          <li>Estadisticas en Graficas</li>
          <li>Cambiar tipo de cambio</li>
          <li>Resumen del dia</li>
          <li>Dar de alta usuarios (Hasta 20)</li>
          <li>Inventarios</li>
					<li>Facturas</li>
					<li>Plataforma para que los clientes vean la existencia del inventario</li>
					<li>Funcionalidad para pedir un producto a Pasar a tienda/domicilio</li>
		    </ul>
		  </div>
		  <a class="button button-block button-positive" href="#/services/2">
			  Comprar
			</a>
		</div>
		<div class="card">
		<h1>Paquete Business</h1>
		  <div class="item item-text-wrap">
		    <ul class="list">
					<li>Sincroniza en todos los dispositivos (Ilimitados)</li>
          <li>Multiplatafroma en dispositivos moviles</li>
          <li>Manejo desde aplicacion web</li>
          <li>Atencion al cliente</li>
          <li>Agregar Gardgets</li>
          <li>Agregar Clientes(Ilimitados)</li>
          <li>Administracion de clientes</li>
          <li>Realizar Pagos (Ilimitados)</li>
          <li>Administracion de pagos</li>
          <li>Agregar Productos (Ilimitados)</li>
          <li>Administracion de productos</li>
          <li>Agregar ventas (Ilimitados)</li>
					<li>Administracion de ventas</li>
					<li>Estadísticas en Reportes</li>
          <li>Estadisticas en Graficas</li>
          <li>Cambiar tipo de cambio</li>
          <li>Resumen del dia</li>
          <li>Dar de alta usuarios (Hasta 50)</li>
          <li>Inventarios</li>
					<li>Facturas</li>
					<li>Plataforma para que los clientes vean la existencia del inventario</li>
					<li>Funcionalidad para pedir un producto a Pasar a tienda/domicilio</li>
		    </ul>
		  </div>
		  <a class="button button-block button-positive" href="#/services/3">
			  Comprar
			</a>
		</div>
	</ion-content>
</ion-view>